.masarny {
  display: flex;
  justify-content: center;
  align-self: center;
  // min-height: 100vh;
  margin-top: 2em;
}
.maranycontainer {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
  .box {
    background: var(--clr-radish);
    display: grid;
    justify-items: start;
    align-items: start;
    color: #fff;
    transition: 0.5s;
    letter-spacing: 1px;
    &:hover {
      background: #e91e63;
    }
    .box_image {
      position: relative;
      max-width: 100%;
    }
    .content {
      width: 100%;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      .box-header {
        color: var(--ligh);
        text-transform: capitalize;
        font-weight: var(--fw-reg);
      }
      .box__daca {
        display: flex;
        justify-content: space-between;
        font-weight: var(--fw-ligh);
        color: var(--clr-lessradish);
        .cae {
          background-color: var(--clr-lessradish);
          color: var(--clr-radish);
          padding: 0.012em 1em;
        }
      }
    }
  }
}
